.content {
    margin: 0px 20px;
}

.product img {
    width: 100%;
    height: auto;
    text-align: center;
}

.product {
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 10px;
}

.product .ui.selection.dropdown {
    border-color: rgba(1, 2, 2, 1);
    min-width: 120px;
}

.product .ui.selection.dropdown .menu {
    border-color: rgba(1, 2, 2, 1);

}

.content h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.product h4 {
    font-size: 20px;
    margin: 1rem 0px;
    font-weight: bold;
}

.product h5 {
    color: #f7a132;
    margin: 10px 0px;
}

.product p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
}

.product .price {
    font-size: 18px;
}

.product .gift {
    margin: 15px 0px;
    position: relative;
}

.product .gift .buycount {
    position: absolute;
    top: -14px;
    right: 0px;
}

.product .gift .buyprice .field {
    margin: 10px 0px;
}

.checkout {
    text-align: right;
    padding-top:10px;
    border-top: 1px solid #4d4d4d;
}

.checkout .button {
    margin-top: 10px;
}

.checkout .total{
    padding-right: 20px;
}