.content {
    margin: 0px 20px;
}

.step {
    border-bottom: 1px solid #4d4d4d;
}

.content h3 {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #4d4d4d;

}

.product h4 {
    font-size: 20px;
    margin: 1rem 0px;
    font-weight: bold;
}

.product p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
}

.product .price {
    font-size: 18px;
}