.content {
    margin: 0px 20px;
}

.step {
    border-bottom: 1px solid #d88d8d;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.content h3 {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 30px;
}

.product h4 {
    font-size: 20px;
    margin: 1rem 0px;
    font-weight: bold;
}

.product p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0px;
}

.product .price {
    font-size: 18px;
}

.address .button {
    width: 100% !important;
}

.payment .field {
    margin: 10px 0px;
}

.sure {
    text-align: center;
}

.sure .button {
    width: 180px !important;
    margin-top: 50px;
}