.content {
    margin: 0px 20px;
}

.step {
    border-bottom: 1px solid #d88d8d;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.content h3 {
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #4d4d4d;
    padding-bottom: 30px;
}

.address .button {
    width: 100% !important;
}

.step .field {
    margin: 20px 0px !important;
}

.sure {
    text-align: center;
}

.sure p {
    text-align: left;
    font-size: 14px;
    color: #f7a132;
    margin-bottom: 0px;
}

.sure.step {
    border-bottom: none;
}

.sure .button {
    width: 180px !important;
    margin-top: 50px;
}