.topbar-menu {
    margin-right: 25px;
    text-align: left;
}

.topbar-menu i.menu {
    background-position: -2px -23px;
    -webkit-transition: -webkit-transform 500ms;
}

.topbar-menu i.menu.rotate {
    -webkit-transform: rotate(90deg);
}


.topbar-menu-body {
    display: none;
    position: fixed;
    top: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #f6a231;
    z-index: 3000;
}

.topbar-menu ul {
    margin: 0px;
    padding-left: 20px;
}

.topbar-menu li {
    text-align: left;
    list-style: none;
    color: #ffffff;
    padding-bottom: 25px;
}