body {
    padding-top: 50px;
}

.topbar-wrapper {
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.topbar {
    margin: 10px;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}

.topbar-menu-wrapper {
    float: left;
}

.topbar-user-wrapper {
    float: right;
}

@import url('./login.css?__inline');
@import url('./menu.css?__inline');
@import url('./reget.css?__inline');
@import url('./register.css?__inline');
@import url('./share.css?__inline');

