body {
    padding-top: 60px;
}

.topbar {
    height: 50px;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 10px;
    z-index: 1000;
}

.topbar-inner {
    margin: 10px 20px;
    overflow: hidden;
    line-height: 30px;
    height: 30px;
    text-align: center;
}

.topbar-menu {
    float: left;
}

.topbar-user {
    float: right;
}

#widget_topbar .close {
    position: absolute;
    top: -40px;
    right: 18px;
    font-size: 14px;
    line-height: 30px;
    width: 50px;
    text-align: right;
    z-index: 4000;
    padding: 50px 0px;
}

#widget_topbar .dialogbody {
    margin: 70px 20px;
    text-align: center;
}
#widget_topbar  .ui.form{
    padding-bottom: 20px;
}

.topbar-mask {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.95;
    background-color: #ffffff;
    z-index: 3000;
}

.topbar-user .logined {
    line-height: 25px;
    font-size: 15px;
    padding: 4px 1px 0px 1px;
    border-bottom: 1px solid #8d8d8d;
    display: none;
}

@import url('./login.css?__inline');
@import url('./menu.css?__inline');
@import url('./reget.css?__inline');
@import url('./register.css?__inline');
@import url('./share.css?__inline');
@import url('./user.css?__inline');
